*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(233, 224, 224);
}
.container{
  width: 80%;
  margin: auto;
}
.App {
  text-align: center;
  height :100vh;
  width : 100%;
}
.title{
  padding: 20px 0 40px 0;
  color: #fff;
}
.weather-temp{
  padding-bottom: 40px;
  padding-left: 60px;
}
.weather-temp h1 ,.weather-temp h4 ,.weather-temp p {
  padding-bottom: 10px;
}
.weather-info p ,.weather-info h2{
  text-align: center;
}
.user-weather{
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #fff;
}
.navbar{
  background-color: #ddd;
}
.mainImg{
  padding-top: 15px;
}
.region{
  margin-top: 50px;
  
}
.regioninput{
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding :auto;
  outline: none;
  
}
.regioninput::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100%;
  height: 150px;
  width: 75px;
  padding-left: 0;
}








